@import url(normalize.css);
@import url(fonts.css);
@import url(highlight.css);
body {
  background-image: url(../images/bg.png);
  -webkit-background-size: 14px 5px;
  -moz-background-size: 14px 5px;
  background-size: 14px 5px;
}

h1, h2 {
  margin: 0;
  padding: 0;
}

h2 {
  color: #4c566c;
  -webkit-text-shadow: 0 1px 0 #fff;
  -moz-text-shadow: 0 1px 0 #fff;
  -o-text-shadow: 0 1px 0 #fff;
  -ms-text-shadow: 0 1px 0 #fff;
  text-shadow: 0 1px 0 #fff;
}

header {
  border-top: solid #e6e6e6 1px;
  border-bottom: solid #2d3033 1px;
  height: 43px;
  background-image: url(data:image/svg+xml,%3c%3fxml%20version%3d%221%2e0%22%3f%3e%3csvg%20xmlns%3d%22http%3a%2f%2fwww%2ew3%2eorg%2f2000%2fsvg%22%20width%3d%22100%25%22%20height%3d%22100%25%22%3e%3cdefs%3e%3clinearGradient%20id%3d%22G%22%20x2%3d%220%25%22%20y2%3d%22100%25%22%3e%3cstop%20style%3d%22stop%2dcolor%3a%23b5c0ce%22%20offset%3d%220%25%22%2f%3e%3cstop%20style%3d%22stop%2dcolor%3a%23889bb3%22%20offset%3d%2250%25%22%2f%3e%3cstop%20style%3d%22stop%2dcolor%3a%237e94b0%22%20offset%3d%2251%25%22%2f%3e%3cstop%20style%3d%22stop%2dcolor%3a%236d83a1%22%20offset%3d%22100%25%22%2f%3e%3c%2flinearGradient%3e%3c%2fdefs%3e%3crect%20width%3d%22100%25%22%20height%3d%22100%25%22%20fill%3d%22url%28%23G%29%22%2f%3e%3c%2fsvg%3e);
  background-image: -ms-linear-gradient(top, #b5c0ce 0%,#889bb3 50%,#7e94b0 51%,#6d83a1 100%);
  background-image: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #b5c0ce),color-stop(50%, #889bb3),color-stop(51%, #7e94b0),color-stop(100%, #6d83a1));
  background-image: -webkit-linear-gradient(top, #b5c0ce 0%,#889bb3 50%,#7e94b0 51%,#6d83a1 100%);
  background-image: -moz-linear-gradient(top, #b5c0ce 0%,#889bb3 50%,#7e94b0 51%,#6d83a1 100%);
  background-image: -o-linear-gradient(top, #b5c0ce 0%,#889bb3 50%,#7e94b0 51%,#6d83a1 100%);
  background-image: linear-gradient(to bottom, #b5c0ce 0%,#889bb3 50%,#7e94b0 51%,#6d83a1 100%);
  -webkit-box-shadow: 0 1px 0 #ccd2da inset;
  -moz-box-shadow: 0 1px 0 #ccd2da inset;
  -o-box-shadow: 0 1px 0 #ccd2da inset;
  -ms-box-shadow: 0 1px 0 #ccd2da inset;
  box-shadow: 0 1px 0 #ccd2da inset;
  font-size: 10px;
  line-height: 43px;
  text-align: center;
}
header h1 {
  color: rgba(255, 255, 255, 0.9);
  background-color: white;
  -webkit-background-clip: text;
  -webkit-text-shadow: 1px 1px 0 rgba(0,0,0,0.5);
  -moz-text-shadow: 1px 1px 0 rgba(0,0,0,0.5);
  -o-text-shadow: 1px 1px 0 rgba(0,0,0,0.5);
  -ms-text-shadow: 1px 1px 0 rgba(0,0,0,0.5);
  text-shadow: 1px 1px 0 rgba(0,0,0,0.5);
}

section {
  padding: 20px 9px;
}
section h2 {
  padding: 0 10px 10px;
}
section fieldset {
  margin: 0;
  border: solid #a6acb1 1px;
  -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
  -o-border-radius: 10px;
  -ms-border-radius: 10px;
  border-radius: 10px;
  padding: 0;
  background-color: #fff;
  -webkit-box-shadow: 0 -1px 2px #d7d7d7 inse, 0 1px 1px #fff;
  -moz-box-shadow: 0 -1px 2px #d7d7d7 inse, 0 1px 1px #fff;
  -o-box-shadow: 0 -1px 2px #d7d7d7 inse, 0 1px 1px #fff;
  -ms-box-shadow: 0 -1px 2px #d7d7d7 inse, 0 1px 1px #fff;
  box-shadow: 0 -1px 2px #d7d7d7 inse, 0 1px 1px #fff;
}
section fieldset > div {
  border-bottom: solid #cacaca 1px;
  padding: 10px;
  overflow: hidden;
}
section fieldset > div:last-child {
  border: none;
}
section fieldset > div label {
  float: left;
  height: 28px;
  line-height: 28px;
  font-weight: bold;
  font-size: 16px;
}
section fieldset > div input {
  float: right;
}
section fieldset > div .ui_check_switch {
  float: right;
}

footer p {
  margin: 0;
  color: #4c566c;
  -webkit-text-shadow: 0 1px 0 #fff;
  -moz-text-shadow: 0 1px 0 #fff;
  -o-text-shadow: 0 1px 0 #fff;
  -ms-text-shadow: 0 1px 0 #fff;
  text-shadow: 0 1px 0 #fff;
  font-size: 16px;
  text-align: center;
  line-height: 1.4;
}
